<div class="p-grid p-nogutter layout-login">
  <div class="p-col p-lg-4 p-lg-offset-4">
    <p-panel header="Inicio de sesión">
      <div class="layout-login-logo p-mb-3 p-text-center">
        <img src="assets/logo_app/logo_smartpeople.png" alt="Logo SmartPeople">
      </div>
      <div class="p-mb-5">
        <hr>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <div class="p-fluid">
          <div class="p-field">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="email" pInputText formControlName="email" placeholder="Correo electrónico"
                     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            </div>
            <div *ngIf="lF['email']['dirty'] && lF['email'].errors">
              <small *ngIf="lF['email'].errors['pattern']" class="p-invalid">Correo invalido</small>
              <small *ngIf="lF['email'].errors['required']" class="p-invalid">Campo obligatorio</small>
            </div>
          </div>
          <div class="p-field">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
              <input type="password" pInputText formControlName="password" placeholder="Contraseña">
            </div>
            <div *ngIf="lF['password']['dirty'] && lF['password'].errors">
              <small *ngIf="lF['password'].errors['required']" class="p-invalid">Campo obligatorio</small>
            </div>
          </div>
          <div>
            <p><a routerLink="/recovery" class="layout-login-recovery">¿Olvidó su contraseña?</a></p>
          </div>
          <div class="p-d-flex p-flex-column">
            <button pButton pRipple type="submit" label="Acceder" class="p-button-success p-mb-2"
                    [disabled]="loginForm.invalid"></button>
            <button pButton pRipple type="submit" label="Registrar" class="p-button-secondary"></button>
          </div>
        </div>
      </form>
    </p-panel>
  </div>
</div>
