<div class="p-grid p-nogutter layout-login">
    <div class="p-col p-lg-4 p-lg-offset-4">
        <p-panel header="Nueva contraseña">
            <div class="layout-login-logo p-mb-3 p-text-center">
                <img src="assets/logo_app/logo_smartpeople.png" alt="Logo SmartPeople">
            </div>
            <div class="p-mb-5">
                <hr>
                <p>Introduzca su nueva contraseña en los dos campos</p>
            </div>
            <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPassword()">
                <div class="p-fluid">
                    <div class="p-field">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                            <input type="password" pInputText formControlName="password1" placeholder="Nueva contraseña">
                        </div>
                        <div *ngIf="lF['password1']['dirty'] && lF['password1'].errors">
                            <small *ngIf="lF['password1'].errors['required']" class="p-invalid">Campo obligatorio</small><br>
                            <small *ngIf="lF['password1'].errors['minlength']" class="p-invalid">Mínimo 8 carácteres</small><br>
                            <small *ngIf="lF['password1'].errors['errorChar']" class="p-invalid">Su contraseña no puede ser completamemnte numérica</small><br>
                            <small *ngIf="lF['password1'].errors['errorUpper']" class="p-invalid">Su contraseña debe contener al menos una mayúscula</small><br>
                            <small *ngIf="lF['password1'].errors['errorNum']" class="p-invalid">Su contraseña debe contener al menos un número</small><br>
                            <small *ngIf="lF['password1'].errors['errorSymbol']" class="p-invalid">Su contraseña debe contener al menos un símbolo</small><br>
                            <small *ngIf="lF['password1'].errors['errorSpace']" class="p-invalid">Su contraseña no debe tener espacios</small><br>
                        </div>
                    </div>
                    <div class="p-field">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                            <input type="password" pInputText formControlName="password2" placeholder="Confirme nueva contraseña">
                        </div>
                        <div *ngIf="lF['password2']['dirty'] && lF['password2'].errors">
                            <small *ngIf="lF['password2'].errors['required']" class="p-invalid">Campo obligatorio</small>
                        </div>
                        <div *ngIf="newPasswordForm.value.password1 != newPasswordForm.value.password2">
                            <small class="p-invalid">Contraseñas diferentes</small>
                        </div>
                    </div>

                    <div class="p-d-flex p-flex-column">
                        <button pButton pRipple type="submit" label="Guardar cambios" class="p-button-success p-mb-2" [disabled]="newPasswordForm.invalid || newPasswordForm.value.password1 != newPasswordForm.value.password2"></button>
                        <!--  <button pButton pRipple type="submit" label="Guardar cambios" class="p-button-success p-mb-2"></button>-->

                    </div>
                </div>
            </form>
        </p-panel>
    </div>
</div>