ul.layout-menu-list {
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
  overflow-x: hidden;
}

ul.layout-menu-list button.layout-menu-buttons {
  width: 100%;
  text-align: left;
  white-space: nowrap;
}

ul.layout-menu-list h6 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: normal;
  margin-left: 15px;
  text-transform: uppercase;
}
