:host ::ng-deep div.layout-ticket-toolbar {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #dee2e6;
  border-right: unset;
  border-left: unset;
  border-radius: unset;
}

:host ::ng-deep div.layout-ticket-toolbar span.p-button-label {
  margin-bottom: 2px;
  margin-left: 7px;
}

:host ::ng-deep .layout-ticket-toolbar button.p-button {
  width: 42px;
}

div.layout-ticket-content {
  padding: 10px;
}

:host ::ng-deep .layout-ticket-modal {
  width: 90%;
}

:host ::ng-deep.layout-ticket-modal button{
  width: 100%;
}

@media screen and (min-width: 992px) {
  :host ::ng-deep .layout-ticket-toolbar button.p-button {
    width: auto;
  }

  :host ::ng-deep div.layout-ticket-toolbar span.p-button-label {
    margin-left: auto;
  }

  :host ::ng-deep .layout-ticket-modal {
    width: 70%;
  }

  :host ::ng-deep.layout-ticket-modal button{
    width: 25%;
  }
}
