<div>
  <app-sidebar *ngIf="usuarioActual"></app-sidebar>
  <app-navbar *ngIf="usuarioActual"></app-navbar>
  <div class="layout-content"
       [ngClass]="{'layout-content-expanded': isSidebarCollapse, 'layout-content-login': !usuarioActual}">
    <router-outlet></router-outlet>
  </div>
  <div class="layout-mask" [ngClass]="{'layout-mask-active': !isSidebarCollapse && usuarioActual}"
       (click)="toggleSidebar()"></div>
</div>
<p-toast></p-toast>
<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle" acceptLabel="Aceptar" rejectLabel="Cancelar"
                 acceptButtonStyleClass="p-button-success" rejectButtonStyleClass="p-button-danger"
                 appendTo="body"></p-confirmDialog>
