<div>
  <app-sidebar *ngIf="usuarioActual"></app-sidebar>
  <app-navbar *ngIf="usuarioActual"></app-navbar>
  <div class="layout-content"
       [ngClass]="{'layout-content-expanded': isSidebarCollapse, 'layout-content-login': !usuarioActual.length}">
    <router-outlet></router-outlet>
    <!--<p>{{something['user_email']}}</p>
    <p>{{usuarioActual}}</p>-->
  </div>
  <div class="layout-mask" [ngClass]="{'layout-mask-active': !isSidebarCollapse && usuarioActual.length}" (click)="toggleSidebar()"></div>
</div>
<p-toast></p-toast>
