div.layout-content {
  padding-top: 70px;
  transition: padding-left 1s;
  z-index: 1;
}

.layout-content-login {
  margin-top: -70px !important;
  transition: none !important;
}

div.layout-mask {
  width: 0;
  height: 0;
}

div.layout-mask-active {
  z-index: 250;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  transition: background-color 1s;
}

@media screen and (min-width: 992px) {
  div.layout-content {
    padding-left: 250px;
  }

  div.layout-content-expanded {
    padding-left: 73px;
  }

  div.layout-mask {
    display: none;
  }

  .layout-content-login {
    padding-left: 250px !important;
    margin-left: -250px !important;
  }
}
