div.layout-navbar {
  position: absolute;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  outline: 1px #dee2e6 solid;
  background-color: white;
  z-index: 200;
}

div.layout-navbar-logo {
  display: none;
}

div.layout-navbar-button-collapse {
  margin-left: 0;
}

@media screen and (min-width: 992px) {
  div.layout-navbar-logo {
    display: initial;
  }

  div.layout-navbar-button-collapse {
    margin-left: 7px;
  }
}

:host ::ng-deep .layout-navbar p-splitButton span.p-button-label {
  margin-bottom: 2px;
}
